/bin/*
/lib/*
/cfg/*
/tmp/*
/doc/*
!/doc/bmxstyle.css
/docs/html
/src/createrelease/BlitzMax/*
*.ppc.s
*.ppc.o
*.ppc.a
*.ppc.i
*.info
Wazp3D.cfg
/tests/*
!mod/brl.mod/blitz.mod/blitz_ex.*.s
!mod/brl.mod/blitz.mod/blitz_ftoi.*.s
!mod/brl.mod/blitz.mod/blitz_gc.*.s
